.callout-tip {
    background-color: rgb(229, 248, 248);
    padding: 0.6rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.158);
    margin: 0.5rem 0rem;
}

.callout-title {
    font-weight: bold;
}

.note-body {
    max-width: 60rem;
    margin: auto;
    background-color: rgb(245, 245, 245);
    padding: 4rem;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.158);
    border-radius: 0.5rem;
}

html {
    background-color: rgb(196, 196, 196);
}

hr {
    border-color: #ffffff69;
}

code {
    font-family: Consolas;
    text-align: left;
    padding: 0.5em;
    padding-left: 0.8em;
    margin: 0.5em;
    border-radius: 5px;
    counter-reset: line;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1;
}

.double-chain {
    background-color: #e9e9e9;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px;
}

.double-chain:visited {
    color: #994b4b;
}

.double-chain:link {
    color: #994b4b;
}

.double-chain:active {
    color: #994b4b;
}

.double-chain:hover {
    color: #bb1a1a;
    background-color: #eeeeee;
    box-shadow: 1px 1px 2px 1px #e6e6e6;
}

a {
    text-decoration: none;
}